html5lib==1.1
httplib2==0.22.0
isodate==0.6.1
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
owlrl==6.0.2
packaging==23.1
plantuml==0.3.0
prettytable==2.5.0
pyparsing==3.0.9
pyshacl==0.22.0
rdflib==6.3.2
six==1.16.0
wcwidth==0.2.6
webencodings==0.5.1
