{{doc.title}}
====================

**Version:** {{doc.version}}

**Prior version:** {{doc.prior_version}}

**Created:** {{doc.created}}

**Last modified:** {{doc.modified}}

**Authors:**
{% for author in doc.authors %}
{% if loop.index > 1 %}, {% endif %}[{{author.label}}](mailto:{{author.email}})
{% endfor %}



{{doc.description}}

{# ```mermaid
{% include 'mermaid.jinja' %}
```
{% raw %}{% include mermaid.html %}{% endraw %} #}

![]({{diagram}})

## Namespaces

| Prefix | URI      |
| :----- | :------- |
{% for prefix, iri in namespaces %}
| {{ prefix }}     | [{{iri}}]({{iri}}) |
{% endfor %}

## Classes & properties

**Classes:** 
{% for class in classes %}
{% if loop.index > 1 %} | {% endif %} [{{class.label}}](#{{class.shortname|lower|urlencode}})
{% endfor %}

{% for class in classes %}
## <a id="{{class.shortname|lower|urlencode}}">{{class.label}}</a>

**URI:** [{{class.shortname}}]({{class.iri}}) <br>
{% if class.superclasses is defined and class.superclasses|length > 0 %}

**Subclass of:** 
{% for parent in class.superclasses %}
[{{parent.shortname}}](#{{parent.shortname|lower|urlencode}})
{% endfor %}
{% endif %}
{% if class.subclasses is defined and class.subclasses|length > 0%}

**Subclasses:** 
{% for child in class.subclasses %}
{% if loop.index > 1 %}, {% endif %}[{{child.shortname}}](#{{child.shortname|lower|urlencode}})
{% endfor %}
{% endif %}

{{class.description if class.description is not none }}

{% if class.properties|length > 0%}
| Property | URI   | Description | Cardinality | Datatype |
| :------ | :----- | :---------- | :---------- | :------- |
{% for property in class.properties %}
| <a id='{{property.shortname|lower|urlencode}}'>{{property.label}}</a> | [{{property.shortname}}]({{property.iri}}) | {{property.description if property.description is not none}} | `[{{property.min if property.min is not none else '0'}}..{{property.max if property.max is not none else 'n'}}]` | {% for datatype in property.datatypes -%}{% if loop.index > 1 %} \| {% endif %}{% if datatype.type == "class" %}[{{datatype.label}}](#{{datatype.shortname|lower|urlencode}}){% else %}[`{{datatype.shortname}}`]({{datatype.iri}}){% endif %}{% endfor %} |
{% endfor %}
{% endif %}

{% endfor %}