{{doc.title}}
====================

**Authors:**
{% for author in doc.authors %}
- [{{author.label}}](mailto:{{author.email}})
{% endfor %}

**Version:** {{doc.version}}
**Prior version:** {{doc.prior_version}}
**Created:** {{doc.created}}
**Last modified:** {{doc.modified}}

{{doc.description}}

## Namespaces

| Prefix | URI      |
| :----- | :------- |
{% for prefix, iri in namespaces %}
| {{ prefix }}     | [{{iri}}]({{iri}}) |
{% endfor %}

## Classes & properties

**Classes:** 
{% for class in classes %}
- [{{class.label}}]({{class.iri}})
{% endfor %}

**Properties:**

{% for property in properties %}
- [{{property.label}}]({{property.iri}})
{% endfor %}

{% for class in classes %}
## Class: [{{class.label}}]({{class.iri}})
{{class.description}}

{% if class.parent is defined and class.parent|length > 0 %}
**Subclass of:** 
{% for parent in class.parent %}
[{{parent.label}}]({{parent.iri}}), 
{% endfor %}
{% endif %}
{% if class.child is defined and class.child|length > 0%}
**Subclasses:** 
{% for child in class.child %}
[{{child.label}}]({{child.iri}}), 
{% endfor %}
{% endif %}

| Property | URI   | Description | Datatype | Min | Max |
| :------ | :----- | :---------- | :------- | :-- | :-- |
{% for property in class.properties %}
{% if property.datatype is defined %}
| <a name='{{property.shortname|lower|urlencode}}'>{{property.label}}</a> | [{{property.iri}}]({{property.iri}}) | {{property.description}} | [{{property.datatype.shortname}}]({{property.datatype.iri}}) | {{property.min}} | {{property.max}} |
{% endif %}
{% if property.classtype is defined %}
| <a name='{{property.shortname|lower|urlencode}}'>{{property.label}}</a> | [{{property.iri}}]({{property.iri}}) | {{property.description}} | [{{property.classtype.shortname}}]({{property.classtype.iri}}) | {{property.min}} | {{property.max}} |
{% endif %}
{% endfor %}
{% endfor %}