{{doc.title}}
====================

**Authors:**
{% for author in doc.authors %}
- [{{author.label}}](mailto:{{author.email}})
{% endfor %}

**Version:** {{doc.version}}
**Prior version:** {{doc.prior_version}}
**Created:** {{doc.created}}
**Last modified:** {{doc.modified}}

{{doc.description}}

## Namespaces

| Prefix | URI      |
| :----- | :------- |
{% for prefix, iri in namespaces %}
| {{ prefix }}     | [{{iri}}]({{iri}}) |
{% endfor %}

## Classes & properties

**Classes:** 
{% for class in classes %}
- [{{class.label}}](#{{class.shortname|lower|urlencode}})
{% endfor %}

**Properties:**

{% for property in properties %}
- [{{property.label}}](#{{property.shortname|lower|urlencode}})
{% endfor %}

{% for class in classes %}
## <a name="{{class.shortname|lower|urlencode}}"> Class: {{class.label}} </a>
**{{class.shortname}}** <br>
[{{class.iri}}]({{class.iri}}) <br>
{{class.description}}


{% if class.parent is defined and class.parent|length > 0 %}
**Subclass of:** 
{% for parent in class.parent %}
[{{parent.label}}]({{parent.iri}}), 
{% endfor %}
{% endif %}
{% if class.child is defined and class.child|length > 0%}
**Subclasses:** 
{% for child in class.child %}
[{{child.label}}]({{child.iri}}), 
{% endfor %}
{% endif %}

{% if class.properties|length > 0%}
| Property | URI   | Description | Datatype | Min | Max |
| :------ | :----- | :---------- | :------- | :-- | :-- |
{% for property in class.properties %}
{% if property.datatype is defined %}
| <a name='{{property.shortname|lower|urlencode}}'>{{property.label}}</a> | [{{property.iri}}]({{property.iri}}) | {{property.description}} | [{{property.datatype.shortname}}]({{property.datatype.iri}}) {% if property.datatype.thesaurus is defined %} Mogelijke waarden: {{property.datatype.thesaurus}} {% endif %} | {{property.min}} | {{property.max}} |
{% endif %}
{% if property.classtype is defined %}
| <a name='{{property.shortname|lower|urlencode}}'>{{property.label}}</a> | [{{property.iri}}]({{property.iri}}) | {{property.description}} | [{{property.classtype.shortname}}](#{{property.classtype.shortname|lower|urlencode}}) | {{property.min}} | {{property.max}} |
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}